@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://unpkg.com/swiper/swiper-bundle.min.css');
@import url('https://unpkg.com/aos@2.3.1/dist/aos.css');

$mobile-width: 480px;
$tablet-width: 768px;
$ipad-pro-width: 1024px;
$small-desktop-width: 1280px;

@mixin mobile { @media (max-width: #{$mobile-width}) {
  @content;
}
}

@mixin tablet { @media (max-width: #{$ipad-pro-width - 1px}) {
  @content;
}
}

@mixin ipad_pro { @media (max-width: #{$small-desktop-width - 1px}) {
  @content;
}
}

@mixin transition {
  transition: ease-in .3s;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #00050A;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  scroll-behavior: smooth;
  overflow-x: hidden;

  @include tablet {
    font-size: 14px;
  }
}

ul {
  padding-left: 0;
  margin-bottom: 0;

  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}

.container {
  max-width: 1350px;
}

.header {
  margin-top: 32px;
  padding-top: 20px;
  padding-bottom: 20px;

  .logo {
    img {
      height: 44px;
    }
  }
  .main-menu {

    ul {
      display: flex;
      align-items: center;
      gap: 28px;

      li {
        a {
          color: #fff;
          display: inline-block;
          padding: 6px 10px;
          position: relative;

          strong {
            color: #FBC02D;
          }

          &:before, &:after {
            content: '';
            display: block;
            width: 60px;
            height: 1px;
            background: #fff;
            opacity: 0;
            position: absolute;
            @include transition;
          }

          &:before {
            left: 40px;
            top: 0;
          }

          &:after {
            right: 40px;
            bottom: 0;
          }

          &:hover {
            &:before, &:after {
              opacity: 1;
            }

            &:before {
              left: -5px;
            }

            &:after {
              right: -5px;
            }
          }
        }

        .btn-outline-primary {
          height: 44px;
          padding: 8px 36px;
          border: 2px solid #FBC02D;
          color: #FBC02D;
          border-radius: 0;
          margin-left: 20px;

          &:before, &:after {
            display: none;
          }

          &:hover {
            background: #FBC02D;
            color: #212121;
          }
        }
      }
    }

    .menu-pc {
      @include ipad_pro {
        display: none;
      }
    }

    .menu-mb {
      display: none;
      margin-right: 10px;

      @include ipad_pro {
        display: flex;
      }

      .menu_mb_btn {
        display: block;
        margin-left: 20px;
      }

      .buy {
        @include mobile {
          display: none;
        }
      }
    }
  }
}

.block-title {
  font-size: 32px;
  font-weight: 600;
  color: #FBC02D;

  @include tablet {
    font-size: 28px;
  }

  @include mobile {
    font-size: 24px;
  }
}

.block_01 {
  background: url("../img/bg_01.png") no-repeat bottom center;
  background-size: cover;
  height: 800px;
  position: relative;

  @include ipad_pro {
    height: auto;
    padding: 80px 0 160px;
  }

  h1 {
    font-weight: 600;
    font-size: 38px;
    color: #FBC02D;
    margin-bottom: 24px;

    @include tablet {
      font-size: 32px;
    }
  }

  p {
    margin-bottom: 64px;
  }

  .btn-box {
    display: flex;
    gap: 44px;
    padding-left: 10px;

    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }

    .btn {
      width: 198px;
      text-align: center;

      @include mobile {
        width: 240px;
      }
    }
  }

  .btn {
    height: 44px;
    border-radius: 0;
    padding: 10px 36px;
    border: none;
    position: relative;

    &.btn-white {
      background: rgba(254, 254, 254, .3);
      color: #fff;

      &:before {
        content: '';
        display: block;
        width: 80px;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 0;
        left: -10px;
        @include transition;
      }

      &:after {
        content: '';
        display: block;
        width: 88px;
        height: 1px;
        background: url("../img/line_white.svg") no-repeat center center;
        position: absolute;
        bottom: 0;
        right: -10px;
        @include transition;
      }
    }

    &.btn-primary {
      background: rgba(251, 192, 45, .3);
      color: #FBC02D;

      &:before {
        content: '';
        display: block;
        width: 80px;
        height: 1px;
        background: #FBC02D;
        position: absolute;
        top: 0;
        left: -10px;
        @include transition;
      }

      &:after {
        content: '';
        display: block;
        width: 88px;
        height: 1px;
        background: url("../img/line_yellow.svg") no-repeat center center;
        position: absolute;
        bottom: 0;
        right: -10px;
        @include transition;
      }
    }

    &:hover {
      &:before {
        left: 10px;
      }
      &:after {
        right: 10px;
      }
    }
  }

  img {
    @include ipad_pro {
      width: 100%;
    }

    @include tablet {
      width: 80%;
      display: block;
      margin: 40px auto 0;
    }
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;

    li {
      a {
        svg {
          @include transition;

          rect, path {
            @include transition;
          }
        }
        &:hover {
          svg {
            transform: translateY(-5px);

            rect {
              fill: #FBC02D;
            }
            path {
              fill: #FBC02D;
            }
          }
        }
      }
    }
  }
}

.block_02 {
  position: relative;
  padding: 110px 0 120px;
  overflow: hidden;

  @include tablet {
    padding: 80px 0;
  }

  @include mobile {
    padding: 60px 0;
  }

  .parallax_bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1500px;
    background: url("../img/bg_02.png") no-repeat center center;
    background-size: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #00050A 0%, rgba(0, 5, 10, 0.2) 100%, rgba(0, 5, 10, 0.5) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .block-title {
    margin-bottom: 80px;
  }

  img {
    @include ipad_pro {
      width: 80%;
    }

    @include tablet {
      width: 90%;
    }
  }
}

.block_03 {
  background: url("../img/bg_03.png") no-repeat bottom center;
  background-size: cover;
  position: relative;
  padding: 110px 0;

  @include tablet {
    padding: 80px 0;
  }

  @include mobile {
    padding: 60px 0;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #00050A 0%, rgba(0, 5, 10, 0.2) 100%, rgba(0, 5, 10, 0.5) 100%);
  }

  .block-title {
    margin-bottom: 24px;
  }

  p {
    margin: 0 auto 80px;
    width: 100%;
    max-width: 800px;

    @include mobile {
      margin: 0 auto 60px;
    }
  }

  .flow {
    margin-bottom: 120px;

    .pc {
      @include tablet {
        width: 90%;
      }

      @include mobile {
        display: none;
      }
    }

    .mb {
      display: none;

      @include mobile {
        display: inline-block;
      }
    }
  }

  .using-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
    margin-bottom: 120px;

    @include ipad_pro {
      flex-wrap: wrap;
      padding: 0 50px;
      margin-bottom: 80px;
    }

    @include mobile {
      padding: 0;
      gap: 40px;
      margin-bottom: 60px;
    }

    .item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 260px;
      height: 260px;
      background: rgba(254, 254, 254, .2);
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 100px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 0;
        left: -22px;
        @include transition;
        z-index: 1;
      }

      &:after {
        content: '';
        display: block;
        width: 130px;
        height: 2px;
        background: url("../img/line_white2.svg") no-repeat center center;
        position: absolute;
        bottom: 0;
        right: -22px;
        @include transition;
        z-index: 1;
      }

      .item-box {
        width: 100%;
        position: relative;
        overflow: hidden;

        .img {
          position: relative;

          &:before {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #212121;
            opacity: 0.2;
          }
        }

        .content {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          text-align: left;
          padding: 20px 16px;
          margin-bottom: -135px;
          background: linear-gradient(180deg, rgba(33, 33, 33, 0) 0%, #212121 100%);
          @include transition;

          .game {
            height: 44px;
          }

          .info {
            height: 115px;
            margin-top: 20px;
          }
        }
      }

      &:hover {
        .item-box {
          .content {
            height: 100%;
            margin-bottom: 0;
            background: linear-gradient(180deg, rgba(33, 33, 33, 0.4) 0%, #212121 100%);
            padding-top: 50px;
          }
        }
      }
    }
  }

  .btn-primary {
    height: 44px;
    border-radius: 0;
    padding: 10px 36px;
    border: none;
    background: rgba(251, 192, 45, .3);
    color: #FBC02D;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 80px;
      height: 1px;
      background: #FBC02D;
      position: absolute;
      top: 0;
      left: -10px;
      @include transition;
    }

    &:after {
      content: '';
      display: block;
      width: 88px;
      height: 1px;
      background: url("../img/line_yellow.svg") no-repeat center center;
      position: absolute;
      bottom: 0;
      right: -10px;
      @include transition;
    }

    &:hover {
      &:before {
        left: 10px;
      }
      &:after {
        right: 10px;
      }
    }
  }
}

.block_04 {
  background: url("../img/bg_04.png") no-repeat bottom center;
  background-size: cover;
  position: relative;
  padding: 110px 0;

  @include tablet {
    padding: 80px 0;
  }

  @include mobile {
    padding: 60px 0;
  }

  .block-title {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 24px;
    width: 100%;
    max-width: 800px;
  }

  ul {
    li {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 14px;

      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: url('../img/list-dot.svg') no-repeat center center;
        margin-right: 8px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  img {
    @include ipad_pro {
      width: 100%;
    }

    @include tablet {
      display: block;
      width: 80%;
      margin: 40px auto 0;
    }
  }
}

.block_05 {
  padding: 110px 0;

  @include tablet {
    padding: 80px 0;
  }

  @include mobile {
    padding: 60px 0;
  }

  .block-title {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 80px;
    width: 100%;
    max-width: 800px;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  .btn-white {
    height: 44px;
    border-radius: 0;
    padding: 10px 36px;
    border: none;
    background: rgba(254, 254, 254, .3);
    color: #fff;
    position: relative;
    margin-left: 10px;

    &:before {
      content: '';
      display: block;
      width: 80px;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 0;
      left: -10px;
      @include transition;
    }

    &:after {
      content: '';
      display: block;
      width: 88px;
      height: 1px;
      background: url("../img/line_white.svg") no-repeat center center;
      position: absolute;
      bottom: 0;
      right: -10px;
      @include transition;
    }

    &:hover {
      &:before {
        left: 10px;
      }
      &:after {
        right: 10px;
      }
    }
  }

  .shop-list {
    display: flex;
    justify-content: center;
    gap: 50px;

    @include ipad_pro {
      gap: 30px;
    }

    @include mobile {
      margin-top: 80px;
    }

    .column {
      @include mobile {
        width: 40%;
      }

      &:last-child {
        margin-top: 40px;
      }

      .img {
        &:not(:last-child) {
          margin-bottom: 40px;
        }

        img {
          @include mobile {
            width: 100%;
          }
        }
      }
    }
  }
}

.block_06 {
  background: url("../img/bg_06.svg") no-repeat bottom center;
  background-size: cover;
  position: relative;
  padding: 110px 0;

  @include tablet {
    padding: 80px 0;
  }

  @include mobile {
    padding: 60px 0;
  }

  .block-title {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 24px;
    width: 100%;
    max-width: 800px;
  }

  ul {
    li {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 14px;

      @include mobile {
        flex-wrap: wrap;
      }

      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: url('../img/list-dot.svg') no-repeat center center;
        margin-right: 8px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      strong {
        color: #FBC02D;
        display: inline;
      }
    }
  }

  img {
    @include ipad_pro {
      width: 100%;
    }

    @include tablet {
      display: block;
      width: 60%;
      margin: 80px auto 0;
    }
  }
}

.block_07 {
  padding: 110px 0;

  @include tablet {
    padding: 80px 0;
  }

  @include mobile {
    padding: 60px 0;
  }

  .block-title {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 80px;
    width: 100%;
    max-width: 800px;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  .btn-primary {
    height: 44px;
    border-radius: 0;
    padding: 10px 36px;
    border: none;
    background: rgba(251, 192, 45, .3);
    color: #FBC02D;
    position: relative;
    margin-left: 10px;

    &:before {
      content: '';
      display: block;
      width: 80px;
      height: 1px;
      background: #FBC02D;
      position: absolute;
      top: 0;
      left: -10px;
      @include transition;
    }

    &:after {
      content: '';
      display: block;
      width: 88px;
      height: 1px;
      background: url("../img/line_yellow.svg") no-repeat center center;
      position: absolute;
      bottom: 0;
      right: -10px;
      @include transition;
    }

    &:hover {
      &:before {
        left: 10px;
      }
      &:after {
        right: 10px;
      }
    }
  }

  img {
    @include ipad_pro {
      width: 100%;
    }

    @include tablet {
      display: block;
      width: 60%;
      margin: 0 auto 80px;
    }

    @include mobile {
      margin-top: 80px;
    }
  }
}

.block_08 {
  position: relative;
  padding-top: 110px;
  overflow: hidden;

  .parallax_bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1500px;
    background: url("../img/bg_08.jpeg") no-repeat center center;
    background-size: cover;
  }

  .overlay {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #00050A;
    opacity: .8;
  }

  .block-title {
    margin-bottom: 0;
  }

  .roadmap {
    position: relative;
    width: 100%;
    overflow-x: auto;
    padding: 120px 0;

    @include tablet {
      padding: 60px 0 120px;
    }
  }
}

.block_09 {
  padding: 110px 0;

  .block-title {
    margin-bottom: 80px;
  }

  img {
    @include ipad_pro {
      width: 80%;
    }

    @include mobile {
      width: 90%;
    }
  }
}

.block_10 {
  background: url("../img/bg_10.svg") no-repeat top center;
  background-size: contain;
  position: relative;
  padding: 80px 0 120px;

  .block-title {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 80px;
  }

  .team-list {
    margin-bottom: 100px;
    width: 100%;
    padding: 0 20px 100px;

    @include mobile {
      padding: 0 20px 60px;
    }

    .img {
      border: 2px solid #BDBDBD;
      position: relative;

      img {
        width: 100%;
      }

      &:before {
        content: '';
        display: block;
        width: 100px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: -2px;
        left: -22px;
        z-index: 1;
      }

      &:after {
        content: '';
        display: block;
        width: 130px;
        height: 2px;
        background: url("../img/line_white2.svg") no-repeat center center;
        position: absolute;
        bottom: -2px;
        right: -22px;
        z-index: 1;
      }
    }

    .name {
      margin-top: 20px;
      font-weight: 600;
      font-size: 18px;
    }

    .job-title {
      font-size: 13px;
      color: #FBC02D;
    }


    .desc {
      font-size: 13px;
      font-style: italic;
      margin-top: 12px;
      margin-bottom: 0;
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        background: #fff;
        opacity: .5;
        width: 8px;
        height: 8px;
      }
      .swiper-pagination-bullet-active {
        opacity: 1;
        width: 28px;
        background: #FBC02D;
        border-radius: 4px;
      }
    }
  }

  .partner-list {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 100px;
    margin-top: 60px;

    @include mobile {
      gap: 30px;
    }

    li {
      img {
        @include tablet {
          height: 40px;
        }

        @include mobile {
          height: 32px;
        }
      }
    }
  }
}

.footer {
  background: #0C1116;
  padding: 48px 0 36px;

  .social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include tablet {
      margin-bottom: 40px;
    }

    li {
      width: 50%;
      margin-bottom: 12px;

      a {
        display: flex;
        align-items: center;
        color: #fff;

        .icon {
          display: block;
        }

        label {
          display: block;
          font-size: 14px;
          padding-left: 8px;
          cursor: pointer;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-title {
    font-weight: 600;
    color: #FBC02D;
    margin-bottom: 24px;
  }

  .footer-link {
    @include tablet {
      margin-bottom: 32px;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 12px;
      }

      a {
        color: #fff;

        strong {
          color: #FBC02D;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .copyright {
    margin-top: 100px;
    text-align: center;
    font-size: 14px;
    color: #BDBDBD;
    margin-bottom: 0;

    @include tablet {
      margin-top: 60px;
    }

     a {
       font-weight: 600;
       color: #FBC02D;

       &:hover {
         text-decoration: underline;
       }
     }
  }
}

.go-top {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(254, 254, 254, .4);
  position: fixed;
  bottom: 40px;
  right: -50px;
  opacity: 0;
  cursor: pointer;
  @include transition;

  &.show {
    right: 44px;
    opacity: 1;
  }

  svg {
    path {
      @include transition;
    }
  }

  &:hover {
    background: #FBC02D;

    svg {
      path {
        fill: #212121;
      }
    }
  }
}

.menu-mb-box {
  width: 300px;
  background: #0C1116;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  padding-top: 80px;
  @include transition;

  &.open {
    right: 0;
  }

  .close {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 20px;
  }

  ul {
    text-align: center;
    li {
      a {
        color: #fff;
        display: inline-block;
        padding: 16px 10px;
        position: relative;
        font-size: 18px;

        strong {
          color: #FBC02D;
        }
      }

      .btn-outline-primary {
        height: 44px;
        padding: 8px 36px;
        border: 2px solid #FBC02D;
        color: #FBC02D;
        border-radius: 0;
        margin-top: 20px;

        &:before, &:after {
          display: none;
        }

        &:hover {
          background: #FBC02D;
          color: #212121;
        }
      }
    }
  }
}