@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://unpkg.com/swiper/swiper-bundle.min.css");
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #00050A;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  scroll-behavior: smooth;
  overflow-x: hidden; }
  @media (max-width: 1023px) {
    html, body {
      font-size: 14px; } }

ul {
  padding-left: 0;
  margin-bottom: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }

.container {
  max-width: 1350px; }

.header {
  margin-top: 32px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .header .logo img {
    height: 44px; }
  .header .main-menu ul {
    display: flex;
    align-items: center;
    gap: 28px; }
    .header .main-menu ul li a {
      color: #fff;
      display: inline-block;
      padding: 6px 10px;
      position: relative; }
      .header .main-menu ul li a strong {
        color: #FBC02D; }
      .header .main-menu ul li a:before, .header .main-menu ul li a:after {
        content: '';
        display: block;
        width: 60px;
        height: 1px;
        background: #fff;
        opacity: 0;
        position: absolute;
        transition: ease-in .3s; }
      .header .main-menu ul li a:before {
        left: 40px;
        top: 0; }
      .header .main-menu ul li a:after {
        right: 40px;
        bottom: 0; }
      .header .main-menu ul li a:hover:before, .header .main-menu ul li a:hover:after {
        opacity: 1; }
      .header .main-menu ul li a:hover:before {
        left: -5px; }
      .header .main-menu ul li a:hover:after {
        right: -5px; }
    .header .main-menu ul li .btn-outline-primary {
      height: 44px;
      padding: 8px 36px;
      border: 2px solid #FBC02D;
      color: #FBC02D;
      border-radius: 0;
      margin-left: 20px; }
      .header .main-menu ul li .btn-outline-primary:before, .header .main-menu ul li .btn-outline-primary:after {
        display: none; }
      .header .main-menu ul li .btn-outline-primary:hover {
        background: #FBC02D;
        color: #212121; }
  @media (max-width: 1279px) {
    .header .main-menu .menu-pc {
      display: none; } }
  .header .main-menu .menu-mb {
    display: none;
    margin-right: 10px; }
    @media (max-width: 1279px) {
      .header .main-menu .menu-mb {
        display: flex; } }
    .header .main-menu .menu-mb .menu_mb_btn {
      display: block;
      margin-left: 20px; }
    @media (max-width: 480px) {
      .header .main-menu .menu-mb .buy {
        display: none; } }

.block-title {
  font-size: 32px;
  font-weight: 600;
  color: #FBC02D; }
  @media (max-width: 1023px) {
    .block-title {
      font-size: 28px; } }
  @media (max-width: 480px) {
    .block-title {
      font-size: 24px; } }

.block_01 {
  background: url("../img/bg_01.png") no-repeat bottom center;
  background-size: cover;
  height: 800px;
  position: relative; }
  @media (max-width: 1279px) {
    .block_01 {
      height: auto;
      padding: 80px 0 160px; } }
  .block_01 h1 {
    font-weight: 600;
    font-size: 38px;
    color: #FBC02D;
    margin-bottom: 24px; }
    @media (max-width: 1023px) {
      .block_01 h1 {
        font-size: 32px; } }
  .block_01 p {
    margin-bottom: 64px; }
  .block_01 .btn-box {
    display: flex;
    gap: 44px;
    padding-left: 10px; }
    @media (max-width: 480px) {
      .block_01 .btn-box {
        flex-wrap: wrap;
        justify-content: center; } }
    .block_01 .btn-box .btn {
      width: 198px;
      text-align: center; }
      @media (max-width: 480px) {
        .block_01 .btn-box .btn {
          width: 240px; } }
  .block_01 .btn {
    height: 44px;
    border-radius: 0;
    padding: 10px 36px;
    border: none;
    position: relative; }
    .block_01 .btn.btn-white {
      background: rgba(254, 254, 254, 0.3);
      color: #fff; }
      .block_01 .btn.btn-white:before {
        content: '';
        display: block;
        width: 80px;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 0;
        left: -10px;
        transition: ease-in .3s; }
      .block_01 .btn.btn-white:after {
        content: '';
        display: block;
        width: 88px;
        height: 1px;
        background: url("../img/line_white.svg") no-repeat center center;
        position: absolute;
        bottom: 0;
        right: -10px;
        transition: ease-in .3s; }
    .block_01 .btn.btn-primary {
      background: rgba(251, 192, 45, 0.3);
      color: #FBC02D; }
      .block_01 .btn.btn-primary:before {
        content: '';
        display: block;
        width: 80px;
        height: 1px;
        background: #FBC02D;
        position: absolute;
        top: 0;
        left: -10px;
        transition: ease-in .3s; }
      .block_01 .btn.btn-primary:after {
        content: '';
        display: block;
        width: 88px;
        height: 1px;
        background: url("../img/line_yellow.svg") no-repeat center center;
        position: absolute;
        bottom: 0;
        right: -10px;
        transition: ease-in .3s; }
    .block_01 .btn:hover:before {
      left: 10px; }
    .block_01 .btn:hover:after {
      right: 10px; }
  @media (max-width: 1279px) {
    .block_01 img {
      width: 100%; } }
  @media (max-width: 1023px) {
    .block_01 img {
      width: 80%;
      display: block;
      margin: 40px auto 0; } }
  .block_01 .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto; }
    .block_01 .social li a svg rect, .block_01 .social li a svg path {
      transition: ease-in .3s; }
    .block_01 .social li a:hover svg rect {
      fill: #FBC02D; }
    .block_01 .social li a:hover svg path {
      fill: #FBC02D; }

.block_02 {
  position: relative;
  padding: 110px 0 120px;
  overflow: hidden; }
  @media (max-width: 1023px) {
    .block_02 {
      padding: 80px 0; } }
  .block_02 .parallax_bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1500px;
    background: url("../img/bg_02.png") no-repeat center center;
    background-size: cover; }
  .block_02 .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #00050A 0%, rgba(0, 5, 10, 0.2) 100%, rgba(0, 5, 10, 0.5) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0); }
  .block_02 .block-title {
    margin-bottom: 80px; }
  @media (max-width: 1279px) {
    .block_02 img {
      width: 80%; } }
  @media (max-width: 1023px) {
    .block_02 img {
      width: 90%; } }

.block_03 {
  background: url("../img/bg_03.png") no-repeat bottom center;
  background-size: cover;
  position: relative;
  padding: 110px 0; }
  @media (max-width: 1023px) {
    .block_03 {
      padding: 80px 0; } }
  .block_03:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #00050A 0%, rgba(0, 5, 10, 0.2) 100%, rgba(0, 5, 10, 0.5) 100%); }
  .block_03 .block-title {
    margin-bottom: 24px; }
  .block_03 p {
    margin: 0 auto 80px;
    width: 100%;
    max-width: 800px; }
  .block_03 .using-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
    margin-bottom: 120px; }
    @media (max-width: 1279px) {
      .block_03 .using-list {
        flex-wrap: wrap;
        padding: 0 50px;
        margin-bottom: 80px; } }
    @media (max-width: 480px) {
      .block_03 .using-list {
        padding: 0;
        gap: 40px;
        margin-bottom: 60px; } }
    .block_03 .using-list .item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 260px;
      height: 260px;
      background: rgba(254, 254, 254, 0.2);
      position: relative; }
      @media (max-width: 480px) {
        .block_03 .using-list .item {
          width: 160px;
          height: 160px; } }
      .block_03 .using-list .item:before {
        content: '';
        display: block;
        width: 100px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 0;
        left: -22px;
        transition: ease-in .3s; }
      .block_03 .using-list .item:after {
        content: '';
        display: block;
        width: 130px;
        height: 2px;
        background: url("../img/line_white2.svg") no-repeat center center;
        position: absolute;
        bottom: 0;
        right: -22px;
        transition: ease-in .3s; }
      .block_03 .using-list .item .item-box {
        width: 100%; }
      .block_03 .using-list .item .icon {
        display: inline-block; }
        @media (max-width: 480px) {
          .block_03 .using-list .item .icon svg {
            width: 40px;
            height: 40px; } }
      .block_03 .using-list .item label {
        display: block;
        width: 100%;
        margin-top: 16px; }
        @media (max-width: 480px) {
          .block_03 .using-list .item label {
            margin-top: 4px; } }
      .block_03 .using-list .item:hover:before {
        left: 10px; }
      .block_03 .using-list .item:hover:after {
        right: 10px; }
  .block_03 .btn-primary {
    height: 44px;
    border-radius: 0;
    padding: 10px 36px;
    border: none;
    background: rgba(251, 192, 45, 0.3);
    color: #FBC02D;
    position: relative; }
    .block_03 .btn-primary:before {
      content: '';
      display: block;
      width: 80px;
      height: 1px;
      background: #FBC02D;
      position: absolute;
      top: 0;
      left: -10px;
      transition: ease-in .3s; }
    .block_03 .btn-primary:after {
      content: '';
      display: block;
      width: 88px;
      height: 1px;
      background: url("../img/line_yellow.svg") no-repeat center center;
      position: absolute;
      bottom: 0;
      right: -10px;
      transition: ease-in .3s; }
    .block_03 .btn-primary:hover:before {
      left: 10px; }
    .block_03 .btn-primary:hover:after {
      right: 10px; }

.block_04 {
  background: url("../img/bg_04.png") no-repeat bottom center;
  background-size: cover;
  position: relative;
  padding: 110px 0; }
  .block_04 .block-title {
    margin-bottom: 24px; }
  .block_04 p {
    margin-bottom: 24px;
    width: 100%;
    max-width: 800px; }
  .block_04 ul li {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px; }
    .block_04 ul li:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: url("../img/list-dot.svg") no-repeat center center;
      margin-right: 8px; }
    .block_04 ul li:not(:last-child) {
      margin-bottom: 8px; }
  @media (max-width: 1279px) {
    .block_04 img {
      width: 100%; } }
  @media (max-width: 1023px) {
    .block_04 img {
      display: block;
      width: 80%;
      margin: 40px auto 0; } }

.block_05 {
  padding: 110px 0; }
  .block_05 .block-title {
    margin-bottom: 24px; }
    @media (max-width: 1023px) {
      .block_05 .block-title {
        margin-top: 60px; } }
  .block_05 p {
    margin-bottom: 80px;
    width: 100%;
    max-width: 800px; }
  .block_05 .btn-white {
    height: 44px;
    border-radius: 0;
    padding: 10px 36px;
    border: none;
    background: rgba(254, 254, 254, 0.3);
    color: #fff;
    position: relative;
    margin-left: 10px; }
    .block_05 .btn-white:before {
      content: '';
      display: block;
      width: 80px;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 0;
      left: -10px;
      transition: ease-in .3s; }
    .block_05 .btn-white:after {
      content: '';
      display: block;
      width: 88px;
      height: 1px;
      background: url("../img/line_white.svg") no-repeat center center;
      position: absolute;
      bottom: 0;
      right: -10px;
      transition: ease-in .3s; }
    .block_05 .btn-white:hover:before {
      left: 10px; }
    .block_05 .btn-white:hover:after {
      right: 10px; }
  .block_05 .shop-list {
    display: flex;
    justify-content: center;
    gap: 50px; }
    @media (max-width: 1279px) {
      .block_05 .shop-list {
        gap: 30px; } }
    @media (max-width: 480px) {
      .block_05 .shop-list .column {
        width: 40%; } }
    .block_05 .shop-list .column:last-child {
      margin-top: 40px; }
    .block_05 .shop-list .column .img:not(:last-child) {
      margin-bottom: 40px; }
    @media (max-width: 480px) {
      .block_05 .shop-list .column .img img {
        width: 100%; } }

.block_06 {
  background: url("../img/bg_06.svg") no-repeat bottom center;
  background-size: cover;
  position: relative;
  padding: 110px 0; }
  .block_06 .block-title {
    margin-bottom: 24px; }
  .block_06 p {
    margin-bottom: 24px;
    width: 100%;
    max-width: 800px; }
  .block_06 ul li {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px; }
    @media (max-width: 480px) {
      .block_06 ul li {
        flex-wrap: wrap; } }
    .block_06 ul li:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: url("../img/list-dot.svg") no-repeat center center;
      margin-right: 8px; }
    .block_06 ul li:not(:last-child) {
      margin-bottom: 8px; }
    .block_06 ul li strong {
      color: #FBC02D;
      display: inline; }
  @media (max-width: 1279px) {
    .block_06 img {
      width: 100%; } }
  @media (max-width: 1023px) {
    .block_06 img {
      display: block;
      width: 60%;
      margin: 80px auto 0; } }

.block_07 {
  padding: 110px 0; }
  @media (max-width: 480px) {
    .block_07 {
      padding: 80px 0; } }
  .block_07 .block-title {
    margin-bottom: 24px; }
  .block_07 p {
    margin-bottom: 80px;
    width: 100%;
    max-width: 800px; }
  .block_07 .btn-primary {
    height: 44px;
    border-radius: 0;
    padding: 10px 36px;
    border: none;
    background: rgba(251, 192, 45, 0.3);
    color: #FBC02D;
    position: relative;
    margin-left: 10px; }
    .block_07 .btn-primary:before {
      content: '';
      display: block;
      width: 80px;
      height: 1px;
      background: #FBC02D;
      position: absolute;
      top: 0;
      left: -10px;
      transition: ease-in .3s; }
    .block_07 .btn-primary:after {
      content: '';
      display: block;
      width: 88px;
      height: 1px;
      background: url("../img/line_yellow.svg") no-repeat center center;
      position: absolute;
      bottom: 0;
      right: -10px;
      transition: ease-in .3s; }
    .block_07 .btn-primary:hover:before {
      left: 10px; }
    .block_07 .btn-primary:hover:after {
      right: 10px; }
  @media (max-width: 1279px) {
    .block_07 img {
      width: 100%; } }
  @media (max-width: 1023px) {
    .block_07 img {
      display: block;
      width: 60%;
      margin: 0 auto 80px; } }

.block_08 {
  position: relative;
  padding-top: 110px;
  overflow: hidden; }
  .block_08 .parallax_bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1500px;
    background: url("../img/bg_08.jpeg") no-repeat center center;
    background-size: cover; }
  .block_08 .overlay {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #00050A;
    opacity: .8; }
  .block_08 .block-title {
    margin-bottom: 0; }
  .block_08 .roadmap {
    position: relative;
    width: 100%;
    overflow-x: auto;
    padding: 120px 0; }
    @media (max-width: 1023px) {
      .block_08 .roadmap {
        padding: 60px 0 120px; } }

.block_09 {
  padding: 110px 0; }
  .block_09 .block-title {
    margin-bottom: 80px; }
  @media (max-width: 1279px) {
    .block_09 img {
      width: 80%; } }
  @media (max-width: 480px) {
    .block_09 img {
      width: 90%; } }

.block_10 {
  background: url("../img/bg_10.svg") no-repeat top center;
  background-size: contain;
  position: relative;
  padding: 80px 0 120px; }
  .block_10 .block-title {
    margin-bottom: 24px; }
  .block_10 p {
    margin-bottom: 80px; }
  .block_10 .team-list {
    margin-bottom: 100px;
    width: 100%;
    padding: 0 20px 100px; }
    @media (max-width: 480px) {
      .block_10 .team-list {
        padding: 0 20px 60px; } }
    .block_10 .team-list .img {
      border: 2px solid #BDBDBD;
      position: relative; }
      .block_10 .team-list .img img {
        width: 100%; }
      .block_10 .team-list .img:before {
        content: '';
        display: block;
        width: 100px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: -2px;
        left: -22px;
        z-index: 1; }
      .block_10 .team-list .img:after {
        content: '';
        display: block;
        width: 130px;
        height: 2px;
        background: url("../img/line_white2.svg") no-repeat center center;
        position: absolute;
        bottom: -2px;
        right: -22px;
        z-index: 1; }
    .block_10 .team-list .name {
      margin-top: 20px;
      font-weight: 600;
      font-size: 18px; }
    .block_10 .team-list .job-title {
      font-size: 13px;
      color: #FBC02D; }
    .block_10 .team-list .swiper-pagination .swiper-pagination-bullet {
      background: #fff;
      opacity: .5;
      width: 8px;
      height: 8px; }
    .block_10 .team-list .swiper-pagination .swiper-pagination-bullet-active {
      opacity: 1;
      width: 28px;
      background: #FBC02D;
      border-radius: 4px; }
  .block_10 .partner-list {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 100px;
    margin-top: 60px; }
    @media (max-width: 480px) {
      .block_10 .partner-list {
        gap: 30px; } }
    @media (max-width: 1023px) {
      .block_10 .partner-list li img {
        height: 40px; } }
    @media (max-width: 480px) {
      .block_10 .partner-list li img {
        height: 32px; } }

.footer {
  background: #0C1116;
  padding: 48px 0 36px; }
  .footer .social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    @media (max-width: 1023px) {
      .footer .social {
        margin-bottom: 40px; } }
    .footer .social li {
      width: 50%;
      margin-bottom: 12px; }
      .footer .social li a {
        display: flex;
        align-items: center;
        color: #fff; }
        .footer .social li a .icon {
          display: block; }
        .footer .social li a label {
          display: block;
          font-size: 14px;
          padding-left: 8px;
          cursor: pointer; }
        .footer .social li a:hover {
          text-decoration: underline; }
  .footer .footer-title {
    font-weight: 600;
    color: #FBC02D;
    margin-bottom: 24px; }
  @media (max-width: 1023px) {
    .footer .footer-link {
      margin-bottom: 32px; } }
  .footer .footer-link li:not(:last-child) {
    margin-bottom: 12px; }
  .footer .footer-link li a {
    color: #fff; }
    .footer .footer-link li a strong {
      color: #FBC02D; }
    .footer .footer-link li a:hover {
      text-decoration: underline; }
  .footer .copyright {
    margin-top: 100px;
    text-align: center;
    font-size: 14px;
    color: #BDBDBD;
    margin-bottom: 0; }
    @media (max-width: 1023px) {
      .footer .copyright {
        margin-top: 60px; } }
    .footer .copyright a {
      font-weight: 600;
      color: #FBC02D; }
      .footer .copyright a:hover {
        text-decoration: underline; }

.go-top {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(254, 254, 254, 0.4);
  position: fixed;
  bottom: 40px;
  right: -50px;
  opacity: 0;
  cursor: pointer;
  transition: ease-in .3s; }
  .go-top.show {
    right: 44px;
    opacity: 1; }
  .go-top svg path {
    transition: ease-in .3s; }
  .go-top:hover {
    background: #FBC02D; }
    .go-top:hover svg path {
      fill: #212121; }

.menu-mb-box {
  width: 300px;
  background: #0C1116;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  padding-top: 80px;
  transition: ease-in .3s; }
  .menu-mb-box.open {
    right: 0; }
  .menu-mb-box .close {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 20px; }
  .menu-mb-box ul {
    text-align: center; }
    .menu-mb-box ul li a {
      color: #fff;
      display: inline-block;
      padding: 16px 10px;
      position: relative;
      font-size: 18px; }
      .menu-mb-box ul li a strong {
        color: #FBC02D; }
    .menu-mb-box ul li .btn-outline-primary {
      height: 44px;
      padding: 8px 36px;
      border: 2px solid #FBC02D;
      color: #FBC02D;
      border-radius: 0;
      margin-top: 20px; }
      .menu-mb-box ul li .btn-outline-primary:before, .menu-mb-box ul li .btn-outline-primary:after {
        display: none; }
      .menu-mb-box ul li .btn-outline-primary:hover {
        background: #FBC02D;
        color: #212121; }

/*# sourceMappingURL=style.css.map */
