@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../font/material-design-icons/Material-Design-Icons.ttf) format('ttf'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

@font-face {
    font-family: 'UTM-American-Sans';
    src: url(../font/UTM-American-Sans.ttf);
}

.material-icons {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

body{
    background-color: #f6f4f4;
}

.brand-logo{
    height: 60px;
    margin-left: 15px;
}

.nav{
    background-color: #fff;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    opacity: 0;
}

nav ul a{
    color: #000;
    /*font-family: 'UTM-American-Sans';*/
    font-size: 18px;
}

.navbar-fixed{
    height: 0;
}

.slider{
    height: 600px !important;
}

.slides{
    height: 600px !important;
}

.slider .indicators{
    bottom: 20px;
    z-index: 99;
}

.slider .indicators .indicator-item{
    margin: 0 5px;
}

.slider .indicators .indicator-item.active{
    background-color: #f57c00;
}

.indicator-item{
    border: 1px solid #f57c00;
}

.title{
    /*font-family: 'UTM-American-Sans';*/
    margin: 15px;
    font-size: 34px;
}

.title-2{
    margin: 15px;
    font-size: 28px;
}

.intro{
    padding: 20px;
}

.intro-title{
    margin: 0;
    font-family: 'UTM-American-Sans';
}

.intro-decs{
    font-size: 28px;
    margin: 0;
    padding-top: 20px;
}

.avatar{
    width: 300px;
    height: 300px;
    border: 5px solid #ccc;
    margin: auto;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}


.avatar2{
    width: 250px;
    height: 250px;
    border: 5px solid #ccc;
    margin: auto;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.avatar3{
    width: 80%;
    background-color: #fff;
    border: 5px solid #ccc;
    margin: auto;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.product{
    width: 100%;
    height: 700px;
    background-position: top center;
    background-size: cover;
    position: relative;
}

.product1{
    background-image: url("./../images/product1.jpg");
}

.product2{
    background-image: url("./../images/product2.jpg");
    padding-top: 70px;
}

.product4{
    background-image: url("./../images/product4.jpg");
    padding-top: 50px;
}

.product3{
    background-color: #7e2123;
    padding-top: 50px;
}

.product4{
    position: relative;
}

.apple{
    position: absolute;
    bottom: 20px;
    left: 35%;
}

.product1-intro{
    margin-top: 270px;
}

.product2-intro, .product3-intro{
    margin-top: 20px;
    position: relative;
}


.available{
    margin-top: 50px;
}

.available-icon{
    color: #fff;
    margin: 0 0 0 30px;
}

.iphone{
    position: absolute;
    right: 15px;
    top: 150px;
}

.news{
    height: 600px;
    overflow: scroll;
}

.news-box{
    border: 2px #ccc solid;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    padding: 5px;
    margin-bottom: 15px;
}

.time{
    width: 100%;
    font-size: 12px;
}

.news-left{
    width: 25%;
}


.news-right{
    width: 75%;
    padding-left: 5px;
}

.news-title{
    font-size: 14px;
    margin: 0;
}

.appear{
    opacity: 1;
}

.hover-blue:hover{
    border-color: #2196f3;
}

.hover-red:hover{
    border-color: #e53935;
}

.hover-purple:hover{
    border-color: #9c27b0;
}

.hover-indigo:hover{
    border-color: #3f51b5;
}

.hover-teal:hover{
    border-color: #009688;
}

.hover-green:hover{
    border-color: #4caf50;
}

.hover-lime:hover{
    border-color: #9e9d24;
}

.hover-orange:hover{
    border-color: #ef6c00;
}

.hover-brow:hover{
    border-color: #4e342e;
}

.hover{
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.hover:hover{
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.23), 5px 5px 15px 0 rgba(0, 0, 0, 0.20);
}

.hand{
    position: absolute;
    bottom: -10px;
    left: 0;
}

.nokia{
    position: absolute;
    left: 15px;
    top: 250px;
}

.htc{
    position: absolute;
    right: 15px;
    top: 250px;
}

.plus{
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.plus:hover{
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.menu-padding{
    padding-top: 70px;
}

@media (min-width: 400px) and (max-width: 991px) {
    .hand, .iphone, .htc, .nokia{
        display: none;
    }

    .tintuc, .tuyendung{
        width: 100%;
    }
}